body{   
    background: black;
    color: cyan;
    font-family:"Comic Sans MS";
    text-align: center;
    
}

h1
{
    background: blue;
    transform: translate(100px) rotate(40deg) translateY(60px);
}

p
{
    transform: translate(-100px);
}

img
{
    transform:translate(-100px);
    border-radius:100px;
    border:5px solid blue;
    transition: all 5s;
}   

img:hover
{
    border-radius:500px;
    border:50px solid red;
}


